#circle-button {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expanded-button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    height: 60px;
    width: 60px;
    background-color: #2e63d1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: bottom 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.expanded-button.up-button-driver {
    bottom: calc(30vh + 15px);
    transform: rotate(180deg);
}

.expanded-button.up-button-passenger {
    bottom: calc(18vh + 15px);
    transform: rotate(180deg);
}

.expanded-button.hide {
    bottom: -100px
}

.expanded-button i {
    color: white;
    font-size: 25px;
}

#generic-button {
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.medium-button, .large-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    padding: 15px;
    text-align: center;
    gap: 10px;
}

.medium-button {
    width: 48%;
    height: 58px;
}

.large-button {
    width: 100%;
    height: 78px;
}

.blue {
    background-color: #3a77d1;
}

.orange {
    background-color: #e98b30;
}

.green {
    background-color: #2bb74c;
}

.red {
    background-color: #c72727;
}

.medium-button:hover, .large-button:hover {
    transform: translateY(-3px);
    background-color: #1a55a0;
}

.orange:hover {
    background-color: #cc6c1b;
}

.green:hover {
    background-color: #238f3a;
}

.medium-button i, .large-button i {
    color: white;
    font-size: 24px;
}

.large-button i {
    font-size: 30px;
}

.medium-button span, .large-button span {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.large-button span {
    font-size: 18px;
}

.circle-button-with-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 30%;
    box-sizing: border-box;
    overflow: hidden;
}

.circle-button-with-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.circle-button-with-icon.blue {
    background-color: #3498db;
}

.circle-button-with-icon.red {
    background-color: #db3434;
}

.circle-button-with-icon.green {
    background-color: #2bb74c;
}

.circle-button-with-icon.modern {
    border: 1px solid black;
}

.circle-button-with-icon.modern i {
    color: black;
}

.circle-button-with-icon i {
    font-size: 24px;
    color: white;
}

.circle-button-with-label span {
    font-size: 14px;
    color: #333;
    margin-top: 8px;
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
    max-width: 100%;
}

.circle-button-with-icon.disabled {
    background-color: #cccccc;
    color: #999999;
    box-shadow: none;
    opacity: 0.5;
    pointer-events: none;
}

.medium-button.unelected {
    background-color: #cccccc;
    color: #999999;
    box-shadow: none;
}