.modal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90vw;
    z-index: 1000;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    padding: 20px;
    gap: 12px;
}

.modal-header {
    font-size: 1.5em;
    border-bottom: 2px solid black;
    text-align: center;
}

.modal-body {
    margin: 20px 0;
    font-size: 1em;
    color: #333;
    text-align: center;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.modal-footer button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s;
}

.modal-footer button:first-child {
    background-color: #f44336;
    color: white;
}

.modal-footer button:last-child {
    background-color: #4caf50;
    color: white;
}

.modal-header span {
    margin-bottom: 10px;
}

.riders-container {
    padding: 8px;
    background-color: #FFFFFF;
    border-radius: 8px;
    max-height: 200px;
}

.rider-element {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 15px;
    transition: transform 0.2s;
}

.rider-element img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.text-container-rider-element {
    display: flex;
    flex-direction: column;
}

.text-container-rider-element span {
    font-size: 16px;
    color: #000000;
    margin-bottom: 5px;
}

.text-container-rider-element span:last-child {
    font-size: 14px;
    color: #555555;
}

.start-ride-modal {
    width: 95%;
    max-width: 500px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    animation: fadeIn 0.3s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start-ride-modal .riders-container {
    overflow-y: auto;
}

.header-start-rider-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    padding: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.modal-start-ride-title {
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 8px;
}

.modal-start-ride-message {
    font-size: 16px;
    margin-bottom: 8px;
    text-align: center;
}

